<!DOCTYPE html>
<html>
  <head>
    <title>WalsWorks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a30ba0c1da.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container header-group">
        <%= link_to root_path(anchor: 'mv') do %>
          <%= image_tag 'logo.png', class: "logo" %>
        <% end %>
        <div class="menu-box">
          <span class="list-bar"></span>
          <span class="list-bar"></span>
          <span class="list-bar"></span>
        </div>
        <nav>
          <ul class="nav">
            <li class="nav-list">
              <%= link_to "Portfolio", root_path(anchor: 'portfolio'), style: "color: white;" %>
            </li>
            <li class="nav-list">
              <%= link_to "Feature", root_path(anchor: 'feature'), style: "color: white;" %>
            </li>
            <li class="nav-list">
              <%= link_to "Profile", root_path(anchor: 'profile'), style: "color: white;" %>
            </li>
            <li class="nav-list">
              <%= link_to "Contact", root_path(anchor: 'contact'), style: "color: white;" %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p class="copyright">©️2017 WebCamp</p>
    </footer>
  </body>
</html>
